@import "modern-normalize/modern-normalize.css";

:root {
  --font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --border-radius: 12px;
  --foreground: #04293a;
  --middleground: #041c32;
  --background-start: #f8f1e7;
  --background-end: #e6dfd5;

  --navbar-size: 90px;
  --nav-top: 20px;
  --side-padding: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8f1e7;
    --middleground: #e6dfd5;
    --background-start: #04293a;
    --background-end: #041c32;
  }
}

/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
html,
body {
  font-family: var(--font-family);
  color: var(--foreground);
  background-color: var(--background-start);
  min-height: 100%;
}

/* sets the base font size for the document; turns on kerning pairs and ligatures */
body {
  text-rendering: optimizeLegibility;
}

body,
ul,
ol,
dl {
  margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

/* sets hyphenation by default on paragraphs */
p {
  word-break: break-word;
  hyphens: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: vertical;
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  border:none;
  padding: 0;
  cursor: pointer;
}

iframe,
img,
input,
video,
select,
textarea {
  height: auto;
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
