.container {
  margin: 2rem 0;
  overflow: hidden;
}

.container > * {
  margin-bottom: 3rem;
}

.container > *:last-child {
  margin-bottom: 0;
}

.currentProjectPanel {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--side-padding);
}

.currentProject {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
}

/* TEAMS PANEL */
.teamsPanel {
  position: relative;
  height: 20%;
  width: 100%;
  border-top: 2px solid var(--foreground);
  border-bottom: 2px solid var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamsPanel .h2 {
  position: absolute;
  font-size: 1.5rem;
  top: 6%;
  left: 6%;
}

.teamCard {
  height: 15rem;
  border: 8px solid var(--foreground);
  box-shadow: 0 13px 19px -1px hsla(0, 0%, 47%, 0.75);
  display: grid;
  place-content: center;
  transition: transform 0.25s ease-in-out;
}

.teamCard:hover {
  transform: scale(1.2);
  transition: transform 0.25s ease-in-out;
}

.addTeam {
  position: absolute;
  bottom: -3.5rem;
  right: var(--side-padding);
  margin-bottom: 0.5rem;
}

/* PARTICIPATE? */
.joinPanel {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--side-padding);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
