.container {
  margin-top: 90px;
  overflow: hidden;
}

.currentProject {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
}

/* TEAMS PANEL */
.teamsPanel {
  position: relative;
  padding: 2rem 0;
  height: 20%;
  width: 100%;
  border-top: 2px solid var(--foreground);
  border-bottom: 2px solid var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamsPanel .h2 {
  position: absolute;
  top: 6%;
  left: 6%;
}

.addTeam {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
}

/* TEAMCARD IN CAROUSEL */
.teams {
  display: flex;
  gap: 15rem;
}

.teamCard {
  border: 8px solid var(--foreground);
  box-shadow: 0 13px 19px -1px hsla(0, 0%, 47%, 0.75);
  padding: 10rem 4rem;
  width: 300px;
  text-align: center;
}

/* PARTICIPATE? */
.joinPanel {
  margin-top: 8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  white-space: nowrap;
}
