.header {
  height: var(--navbar-size);
  background-color: transparent;
  position: sticky;
  top: 0;
  transition: height 0.25s ease-out, background-color 0.25s ease-out;
  z-index: 10;
}

.header.scrolled {
  background-color: var(--foreground);
  height: 60px;
  transition: height 0.25s ease-out, background-color 0.25s ease-out;
}

@media (prefers-color-scheme: dark) {
  .header.scrolled {
    color: var(--background-end);
  }

  .header.scrolled .hamburger span {
    background-color: var(--background-end);
  }
}

.container {
  height: 100%;
  max-width: 1320px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--side-padding);
}

.nav {
  display: flex;
  width: 100%;
}

.navlink {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.25s ease-out;
}

.navlink:hover,
.navlink:focus {
  border-bottom-color: var(--middleground);
}

.left {
  display: none;
}

.left > * {
  margin-right: 1.5rem;
}

.left > *:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .left {
    display: flex;
    align-items: center;
  }
}

.hamburger {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0.125rem;
  flex-direction: column;
  margin-right: 2rem;
}

.hamburger span {
  display: block;
  height: 4px;
  background-color: var(--foreground);
  margin-bottom: 4px;
  transition: transform 0.3s ease-out;
  border-radius: var(--border-radius);
}

.hamburger span:last-child {
  margin-bottom: 0;
}

.hamburger span:nth-child(2) {
  width: 80%;
}

.overlay {
  background-color: var(--middleground);
  opacity: 0.3;
  position: fixed;
  inset: 0;
  z-index: 90;
}

.content {
  background-color: var(--background-end);
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 450px;
  padding: var(--side-padding);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 100;
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.drawerNav {
  display: flex;
  flex-direction: column;
}

.drawerNav > * {
  margin-bottom: 2rem;
}

.drawerNav > *:last-child {
  margin-bottom: 0;
}

.close {
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.25rem;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-out;
}

.close:hover,
.close:focus {
  border-color: var(--middleground);
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* GET STARTED BUTTON */
.getStarted {
  margin-left: auto;
  padding: 0.4rem 0.9rem;
  border: 2px solid var(--foreground);
  display: block;
  background-color: var(--foreground);
  color: var(--background-start);
  transition: background-color 0.25s ease-out;
}

.getStarted:hover,
.getStarted:focus {
  background-color: var(--middleground);
}

.header.scrolled .getStarted {
  color: var(--foreground);
  background-color: var(--background-end);
}
